h1{
    text-align: center;
}
p{
    text-align: center;
}


.firstpage {
    text-align: center;
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: cover;
    color: maroon;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}
.biography {
    text-align: center;
    background-image: url("./images/pp2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family:cursive;
    height: 300px;
    
   
}
li{
    color: black;
}
.potraits {
    text-align: center;
    background-image: url("./images/bg4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 500px;
   

}

.photojournalism{
    text-align: center;
    background-image: url("./images/bg4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: brown;
    height: 500px;
   

}
.fashionphotography{
    text-align: center;
    background-image: url("./images/bg4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: magenta;
    height: 500px;
   

}
.sportsphotography{
    text-align: center;
    background-image: url("./images/bg4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: brown;
    height: 500px;
   

}
.naturePhotography{
    text-align: center;
    background-image: url("./images/bg4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: green;
    height: 500px;
   

}